<h1>Welcome to the registration page</h1>
<form action="/home_pages/made_account" method="post">
  <label for="full_name_id">Full Name:</label>
  <input type="text" name="Full Name" id="full_name_id"/>
  <br/>
  <label for="street_id">Street Address:</label>
  <input type="text" name="Street Address" id="street_id"/>
  <br/>
  <label for="city_id">City:</label>
  <input type="text" name="City" id="city_id"/>
  <br/>
  <label for="state_id">State:</label>
  <input type="text" name="State" id="state_id"/>
  <br/>
  <label for="postal_id">Postal Code:</label>
  <input type="number" name="Postal Code" id="postal_id"/>
  <br/>
  <label for="country_id">Country:</label>
  <input type="text" name="Country" id="country_id"/>
  <br/>
  <label for="email_id">Email Address:</label>
  <input type="text" name="Email Address" id="email_id"/>
  <br/>
  <label for="user_id">User ID:</label>
  <input type="text" name="user_id" id="user_id" required/>
  <br/>
  <label for="password_id">Password:</label>
  <input type="text" name="password" id="password_id" required/>
  <br/>
  <input type="submit" value="Register">
</form>
